// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-image: url(image-path('bg.png'));
}

.logo_div{
  background-image: url(image-path('logo.svg'));
  background-repeat: no-repeat;
  background-size: auto;
  width: 200px;
  height: 60px;
  margin: auto;
}

header{
  margin: 50px;
}
